@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color: #384a5c;
    font-family: 'Roboto', sans-serif;
    word-spacing: 0.02em;
    text-decoration-skip-ink: none;
  }
}
